.input {
    display:flex;
    flex-wrap: wrap;
    aling-items: center;
    justify-content: flex-end;
    width: 100%;
    font-size: 40px;
    padding-top: 15px;
    padding-right: 10px;
    font-weight: bold;
    
}

