
.contenedor-principal-formulario {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.tarea-input {
    width: 350px;
    font-size: 18px;
    background-color: white;
    color: black;
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 3px solid black;
}

.boton-formulario {
    padding: 16px;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    border: 2px solid black;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    color: white;
    font-weight: bold;
    outline: none;
    background: #00471b
}